<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Quan2um</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1729128707473753</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.707375648316-1te4dp57d0vj9r402tr2m71sduea5ft4</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>CodePushDeploymentKey</key>
	<string>WdgpJez5Gbs67Nu3xTHuow508UuLAgb-lV6xP</string>
	<key>FacebookAppID</key>
	<string>1729128707473753</string>
	<key>FacebookClientToken</key>
	<string>36884f0afc1b61bf64f1fa725f0e58b2</string>
	<key>FacebookDisplayName</key>
	<string>Quantum</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera for adding picture in application</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location for more security of your personal data</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for more security of your personal data</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to your photo library for adding picture in application</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library for adding picture in application</string>
	<key>SessionCreate</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
